<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this is home page</title>
</head>
<body>
    <h1>1+2</h1>
    <h3> <%= 1 + 2 %> </h3>
    <h3> <%= "dhruv jungi".toUpperCase() %> </h3>
    <h3> <%= ["hi","hello","howru"] [2] %> </h3>
    <h1>this is the home page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae placeat dignissimos nulla accusantium consequuntur. Saepe ex sed qui aspernatur nisi? Culpa amet quae rerum adipisci? Facere officiis autem porro esse, beatae perspiciatis, pariatur dolores quia placeat et soluta ipsam consequuntur eum quibusdam voluptatibus nemo exercitationem facilis dolorum eos deleniti. Sit?</p>
    <button>click me!</button>
</body>
</html>