#main{
    
    display: flex;
    justify-content: space-evenly;
    
}
#web{
    color: blue;
    text-align: left;
}
span{
    color: yellow;
}
#person{
    border: 2px solid black;
    border-radius: 15px;
    width: 250px;
    padding: 20px;
    margin: 20px;
}

img{
    border-radius: 15px;
    width: 100px;
    
}
h3 {
    text-align: center;
}

@media (max-width: 375px) {
    #main{
        flex-wrap: wrap;
    }
}

