#main{
    height: 400px;
    width: 400px;
    background: white;
    border: 2px solid blue;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

div{
    height: 100px;
    width: 100px;
    background: grey;
    font-size: 50px;
    border: 2px solid black;
    /* align-content: center; */
    text-align: center;
}

#nav{
    height: 50px;
    width: 900px;
    background: pink;
    border: 2px solid blue;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-content: center;

}

.option{
    height: 50px;
    width: 80px;
    font-size: 24px;
    margin-left: 5px;
    border-radius: 10px;
    /* justify-content: start; */
    background: pink;
    line-height: 50px;
}