/* transfrom property */
/* div{
    background: red;
    transition: 1s;
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin: 0 auto;
    transition: margin-top 2s ease-in 0.2;

}

div:hover{
    background: #000;
    border-radius: 50%;
    margin-top: 400px;
    background: #000;
    border-radius: 50%;
} */

/* type of transfrom property */

/* section{
    margin: 100px;
}
div{
    height: 50px;
    width: 200px;
    text-align: center;
    background: green;
    /* border: 2px solid black; 
    margin: 10px;
    box-shadow: 2px 2px 8px black;
}

div:nth-of-type(2n){
    background: yellow;

}
div:nth-of-type(3n){
    background-color: greenyellow;
}

/* transfrom 
#one{
    transform: rotate(45deg);
}
#two{
    transform: scale(0.5);
}
#three{
    transform: translatex(-100px);
}
#four{
    transform: skew(30deg);
}
#five{
    transform: rotate(45deg) translatex(150px);
} */

/* bg image  */
div{
    height: 400px;
    width: 800px;
    background: blue;
    margin:  10px auto;
    background-image: url("buggati.jpeg");
    background-size: cover;
    color: lightblue;
}
